.caixa {
    border-radius: 15px;
    margin-top: 20vh;
    padding: 0;
    max-width: 30vw;
    box-shadow: 13px 6px 24px -2px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #181818;
    color: white;
    padding: 15px 0;
}

/* imagem da logo */
.logo img {
    height: 50px;
    width: 50px;
}

.logo span {
    font-size: 2rem;
}

.form_login {
    margin: 15px;
    padding-bottom: 20px;
}

.error_message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error_message p {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.407);
    color: red;
    border-radius: 10px;
}