.genero_livro {
    max-width: 90% !important;
    padding-top: 10px;
}

.action_buttons {
    display: flex;
    gap: 10px;
}


.lista_generos {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card_genero {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 12px;
    min-width: 90vw;
}

.card_genero input {
    margin-bottom: 6px;
    margin-right: 15px;
}

.card_genero .id {
    margin-right: 30px;
    margin-left: auto;
}

.error_message .loading_message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error_message p {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.407);
    color: red;
    border-radius: 10px;
}

.loading_message p {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 183, 255, 0.407);
    color: rgb(0, 183, 255);
    border-radius: 10px;
}