.error_message .loading_message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error_message p {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.407);
    color: red;
    border-radius: 10px;
}

.loading_message p {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 183, 255, 0.407);
    color: rgb(0, 183, 255);
    border-radius: 10px;
}