.not_found {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: solid black 1px;
    padding: 100px;
}

.content i {
    font-size: 5rem;
}

.content a {
    border: 2px solid black;
    border-radius: 0px !important;
    padding: 5px 20px;
}

.content a:hover {
    color: white;
    background-color: black;
}